[Unit]
Description=Process fritzCallMon

[Service]
Type=simple
; Hier das Python aus der virtualenv verwenden
ExecStart=/etc/.virt_fritzbox/bin/python3 /etc/fritz/fritzCallMon.py
Restart=always

[Install]
WantedBy=network-up.target
